.button-container-dark {
    border: 2px solid white;
    border-radius: 7px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .button-container {
    border: 2px solid white;
    border-radius: 7px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
  }
  .toggle-mode-button-dark {
    border-color: rgb(0, 0, 0);
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .toggle-mode-button-darkd {
    border-color: rgb(0, 0, 0);
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.toggle-mode-button-dark a{
    padding-top: 4%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
}