.buruz{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    position: relative;
    font-size: 17px;
    margin-right: 1%;
}

  /* Línea de subrayado que inicialmente está oculta */
  .buruz::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor del subrayado */
    bottom: 0;
    left: 0;
    background-color: #000000; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente oculto */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Transición para el efecto animado */
}
  
  /* Efecto de subrayado al hacer hover */
.buruz:hover::before {

    transform: scaleX(1); /* Muestra el subrayado al 100% de su ancho original */
    transform-origin: bottom left;
  }
  .logout {
    margin-left: 30%;
    margin-top: 4%;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s; /* Agrega la transición aquí */
  }
  

  .logout a {
    font-size: 27px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
 
.logout a{
    font-size: 15px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
  /* Línea de subrayado que inicialmente está oculta */

  
  /* Efecto de subrayado al hacer hover */
.logout:hover::before {

    transform: scaleX(1); /* Muestra el subrayado al 100% de su ancho original */
    transform-origin: bottom left;
  }
  .log{
    font-size: 15px;
    font-weight: bold;
  }