body{
  background-color: #f7f7f7;

}
.buruz {
  text-align: left;
  border-top: 2px solid #e7e7e7;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  position: relative;
  font-size: 17px;
  margin-right: 1%;
  transition: border-top-color 0.3s ease; /* Agrega una transición suave */
}

/* Efecto de hover */
.buruz:hover {
  text-decoration: none;
  border-top-color: black; /* Cambia el color del borde superior al hacer hover */
}
.buruz1 {
  text-align: left;
  border-top: 2px solid #e7e7e7;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  position: relative;
  font-size: 17px;
  margin-right: 1%;
  transition: border-top-color 0.3s ease; /* Agrega una transición suave */
}

/* Efecto de hover */
.buruz1:hover {
  text-decoration: none;
  border-top-color: black; /* Cambia el color del borde superior al hacer hover */
}
nav a.active {
  border-top-color: black;
}
  /* Línea de subrayado que inicialmente está oculta */
 
  .logout {
    margin-left: 30%;
    margin-top: 4%;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s; /* Agrega la transición aquí */
  }
  

 
.log{
    font-size: 15px;
    font-weight: bold;
}
.logi{
      font-size: 10px;
      font-weight: bold;
 }
.sign{
    font-size: 4px;
    font-weight: bold;
}
.botoia a:hover{
  color: gray;
  text-decoration: none;
}
.botoia button{
  font-size: 13px;
  font-weight: bold;
}
.botoia button:hover{
  text-decoration: none;
  
}
.berbidali{
  background-color: transparent;
  color: black;
  width: 40%;
  height: 1%;
}
.verify{
  margin-top: 10%;
  width: 40%;
  margin-left: 30%;
}
.berbidali{
  margin-bottom: 5%;
}
