.pasahitza{
  width: 150%;
}
.editatu{
  border-color: 1px solid black;
}
.ezabatu{
  height: 50%;
}
.form-control{
  margin-left: 17%;
}
.delete-user-form button{
  background-color: red;
}
.editatu{
  font-size: 15px;
  font-weight: bold;
}
.danger{
  font-weight: bold;
  font-size: 15px;
}
